html {
	background-color: #e2e2e2;
}

body {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 3%;
	padding-bottom: 3%;
}

select {
	margin: auto;
}

#logo {
	display: inline-block;
	width: 10em;
	margin-right: 2em;
	margin-left: 2em;
}

#header {
	display: inline-block;
}