html {
	background-color: #e2e2e2;
}

body {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 3%;
	padding-bottom: 3%;
}

select {
	margin: auto;
}

.form-question {
	display: inline-block;
	width: auto;
	text-align: left;
	vertical-align: top;
}

#logo {
	display: inline-block;
	width: 10em;
	margin-right: 2em;
	margin-left: 2em;
}

#header {
	display: inline-block;
}

.medium-break {
	display: block;
}

.small-break {
	display: block;
}

.inactive-question {
	display: none;
	margin: none;
	padding: none;
}

.active-question {
	display: inline-block;
}

/*#nextBtn {
	display: none;
}

#backBtn {
	display: none;
}*/

@media screen and (max-width: 899px) {
	#small-wrapper {
		text-align: left;
		display: inline-block;
	}

	/*#question-form {
		text-align: left;
	}*/

	.question-br {
		display: none;
	}
}

@media screen and (min-width: 900px) {
	.small-break {
		display: none;
	}
}

@media screen and (min-width: 1350px) {
	.small-break {
		display: none;
	}

	.medium-break {
		display: none;
	}
}
