html {
	background-color: #65b6a9;
}

@font-face {
	font-family: Carybe_copy;
	src: url('Carybe_copy.otf');
	src: url('Carybe_copy.otf') format('woff2'),
		 url('Carybe_copy.otf') format('woff');
}

@font-face {
	font-family: Roboto-Regular;
	src: url('Roboto-Regular.ttf');
	src: url('Roboto-Regular.ttf') format('woff2'),
		 url('Roboto-Regular.ttf') format('woff');
}

@font-face {
	font-family: Roboto-Condensed;
	src: url('RobotoCondensed-Regular.ttf');
	src: url('RobotoCondensed-Regular.ttf') format('woff2'),
		 url('RobotoCondensed-Regular.ttf') format('woff');
}

@font-face {
	font-family: Roboto-Black;
	src: url('Roboto-Black.ttf');
	src: url('Roboto-Black.ttf') format('woff2'),
		 url('Roboto-Black.ttf') format('woff');
}

@font-face {
	font-family: Roboto-Condensed-Light;
	src: url('RobotoCondensed-Light.ttf');
	src: url('RobotoCondensed-Light.ttf') format('woff2'),
		 url('RobotoCondensed-Light.ttf') format('woff');
}

p {
	font-size: 20px;
	font-family: Carybe_copy;
	color: #999999;
}

h1{
	font-family: Roboto-Black;
	font-size: 35px;
	color: #639b81;
}

h2 {
	font-family: Roboto-Condensed;
	font-size: 28px;
	color: #999999;
}

h3 {
	font-family: Roboto-Condensed-Light;
	font-size: 24px;
	color: #b1cdc0;
}

body {
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 3%;
	padding-bottom: 3%;
}

select {
	margin: auto;
}

label {
	text-align: center;
}

.question-nav-btn {
	height: 100%;
	vertical-align: top;
	padding-top: 115px;
	display: inline;
}

#backBtn {
	/*background-image: url("assets/other/backward.png");*/
	background-repeat: no-repeat;
	background-size: auto;
}

#nextBtn {
	/*background-image: url("assets/other/forward.png");*/
	background-repeat: no-repeat;
	background-size: auto;
}

.form-question {
	display: inline-block;
	width: auto;
	text-align: left;
	vertical-align: top;
}

#logo {
	display: inline-block;
	width: 10em;
	margin-right: 2em;
	margin-left: 2em;
}

#description {
	display: inline-block;
}

#header {
	display: inline-block;
}

.medium-break {
	display: block;
}

.small-break {
	display: block;
}

.inactive-question {
	display: none;
	margin: none;
	padding: none;
}

.active-question {
	display: block;
}

.active-content {
	display: block;
}

.inactive-content {
	display: none;
}

#small-wrapper {
	text-align: left;
	display: inline-block;
}

.question-br {
	display: none;
}

.opt-img {
	height: 180px;
	width: 180px;
	margin: 0px;
}

.unselected-opt-img {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.selected-opt-img {
	padding-top: 5px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	display: none;
}

.opt-text {
	height: 160px;
	width: 160px;
	margin: 0px;
	text-align: center;
	/*vertical-align: center;*/
	background-size: cover;
	display: inline-block;
}

.opt-selected-text {
	background-image: url("assets/other/Selected.png");
	height: 180px;
	width: 180px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 10px;
}

.opt-unselected-text {
	background-image: url("assets/other/outline.png");
	height: 160px;
	width: 160px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.opt-text-wrapper {
	display: inline-block;
	height: 180px;
	vertical-align: middle;
	text-align: center;
}

.opt-text-text {
	display: table-cell;
	height: 180px;
	vertical-align: middle;
	text-align: center;

	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;
}

.selected-text {
	padding-bottom: 25px;
}

.opt-input {
	visibility: hidden;
	display: none;
}

.question-label {
	text-align: center;
}

.question-wrapper {
	text-align: center;
}

.questions-wrapper {
	display: inline-block;
}

.filler-entry {
	background-image: none;
}

#question-information {
	text-align: center;
}

#questionIndex {
	font-family: Roboto-Condensed;
	font-size: 20px;
	color: #999999;
	margin-left: 10px;
	margin-right: 10px;
}

#botBackBtn {
	/*background-color: #65b6a9;*/
	background-color: #999999;
	font-family: Roboto-Condensed;
	font-size: 18px;
	/*color: gray;*/
	color: white;
}

#botNextBtn {
	background-color: #999999;
	/*background-color: #65b6a9;*/
	font-family: Roboto-Condensed;
	font-size: 18px;
	/*color: gray;*/
	color: white;
}

#request-button {
	font-family: Roboto-Condensed;
	font-size: 18px;
	/*background-color: #7ca531;*/
}


#return-btn {
	/*background-color: #65b6a9;*/
	background-color: #999999;
	font-family: Roboto-Condensed;
	font-size: 18px;
	/*color: gray;*/
	color: white;
}

/*
@media screen and (max-width: 599px) {
	.questions-wrapper {
		display: none;
	}

	#small-wrapper {
		display: none;
	}
}
*/


/*
	Mobile screen
*/
@media screen and (max-width: 549px) {
	p {
		font-size: 17px;
	}

	h1{
		font-size: 20px;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 18px;
	}

	html {
		text-align: center;
	}

	body {
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.questions-wrapper {
		width: 235px;
		margin: auto;
	}

	#small-wrapper {
		width: 350px;
		margin: auto;
		text-align: center;
	}

	.opt-img {
		height: 100px;
		width: 100px;
		margin: 0px;
	}

	.unselected-opt-img {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.selected-opt-img {
		padding-top: 5px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}

	.opt-text {
		height: 80px;
		width: 80px;
		margin: 0px;
	}

	.opt-selected-text {
		height: 90px;
		width: 100px;
		margin-top: 10px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
		padding-top: 0px;
	}

	.opt-unselected-text {
		height: 80px;
		width: 80px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.opt-text-wrapper {
		height: 90px;
	}

	.opt-text-text {
		height: 90px;
	}

	.selected-text {
		padding-bottom: 5px;
	}

	.question-nav-btn {
		vertical-align: top;
		padding-top: 110px;
	}

	#nextBtn {
		background-color: blue;
		display: none;
		visibility: hidden;
	}

	#backBtn {
		background-color: green;
		display: none;
		visibility: hidden;
	}
}

@media screen and (min-width: 550px) and (max-width: 849px) {
	p {
		font-size: 17px;
	}

	h1{
		font-size: 20px;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 18px;
	}

	html {
		text-align: center;
	}

	body {
		margin-left: 1%;
		margin-right: 1%;
		margin-top: 1%;
		margin-bottom: 1%;
		padding-left: 1%;
		padding-right: 1%;
		padding-top: 1%;
		padding-bottom: 1%;
	}

	.questions-wrapper {
		width: 390px;
	}

	#small-wrapper {
		width: 525px;
	}

	.opt-img {
		height: 120px;
		width: 120px;
		margin: 0px;
	}

	.unselected-opt-img {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.selected-opt-img {
		padding-top: 5px;
		padding-bottom: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}

	.opt-text {
		height: 80px;
		width: 80px;
		margin: 0px;
	}

	.opt-selected-text {
		height: 110px;
		width: 120px;
		margin-top: 10px;
		margin-bottom: 0px;
		margin-left: 0px;
		margin-right: 0px;
		padding-top: 0px;
	}

	.opt-unselected-text {
		height: 100px;
		width: 100px;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.opt-text-wrapper {
		height: 110px;
	}

	.opt-text-text {
		height: 110px;
	}

	.selected-text {
		padding-bottom: 5px;
	}

	.question-nav-btn {
		vertical-align: top;
		padding-top: 85px;
	}
}

@media screen and (min-width: 850px) and (max-width: 1099px) {
	.question-wrapper {
		width: 600px;
	}

	#small-wrapper {
		width: 750px;
		vertical-align: top;
	}
}

@media screen and (min-width: 1100px) {
	.questions-wrapper {
		width: 850px;
	}

	#small-wrapper {
		width: 1000px;
		vertical-align: top;
	}
}

/*
@media screen and (max-width: 899px) {
	#small-wrapper {
		text-align: left;
		display: inline-block;
	}

	.question-br {
		display: none;
	}
}*/
/*
@media screen and (min-width: 900px) {
	.small-break {
		display: none;
	}
}

@media screen and (min-width: 1350px) {
	.small-break {
		display: none;
	}

	.medium-break {
		display: none;
	}
}
*/
